    body {
    background-color: #f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow:auto;
} 

.seven:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
}

#ai{
    background: linear-gradient(to right, #43cea2, #185a9d, #000428);
    background-clip: text;
    color:transparent;

}

/* Centering the text in the container */
.centered-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height:75vh;            /* Full viewport height */
}

/* Optional styling */
.centered-container p {
    font-size: 100px;
    text-align: center; /* Ensures text is centered */
}
/* Button styling */
.round-box {                                                                    
    background-color:black;
    border-radius: 40px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between; /* Adjusted spacing */
    align-items: center;
    position: fixed; /* Fixes the box to the bottom of the screen */
    bottom: 40px; /* Distance from the bottom of the viewport */
    left: 50%;
    transform: translateX(-50%); /* Centers the box horizontally */
    z-index: 1000; /* Ensures it stays above other content */
}
/* Anchor tag styling to remove any default styles */
.round-box button {
    background-color:black; /* Color of box */
    color:white; /* Color of font*/
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.4s;
    margin: 0 5px; /* Reduced margin between buttons */
}
.round-box button:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}
#topleft{
    margin-left:6%;
    margin-top:4%;
}
#firstnumber{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 25%;
    
}
#textfirstnumber{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 25%;
    color:grey;
}

#line {
    color:black;
}

@keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

#myAnim{
    text-align:center;
    animation: myAnim s linear 0s infinite normal forwards;
    height: 100px;
    width: 100px;
}
/* Dark Mode Theme */




